{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>
		{% block title %}
			Surfing | 
		{% endblock %}
	</title>
		{% block css %}	
			<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
		{% endblock %}
        {% block js %}
			<script type="text/javascript"  src="{% static 'js/bootstrap.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		{% endblock %}	
	<meta charset="utf-8">
</head>
<body>
	<div class="contener">
		<div class="header_and_content">
			<div class="header">
				<div class="header_name">
					{% block menu_name %}
		    			<h1> Главная </h1>
		    		{% endblock %}
		    	</div>
				<div class="menu">
					<ul class="nav_menu">
						{% block menu %}
							<li class="{% if page == 'main' %}active{% endif %}">
								<a href="{% url 'main' %}">Главная</a>
							</li>
							<li class="{% if page == 'trainee' %}active{% endif %}">
								<a href="{% url 'trainee' %}">Обучение</a>
							</li>
							<li class="{% if page == 'product' %}active{% endif %}">
								<a href="{% url 'product' %}">Продукция</a>
							</li>
						{% endblock %}
					</ul>
				</div>
			</div>
			<div class="content">
				{% include 'inc_log_form.html' %}
					<div class="info">
					{% block content %}
						<p>Это сегодня серфинг – серьезный вид водного спорта. А когда-то он был для полинезийцев тем, чем для древних эллинов – Олимпийские игры: синтезом искусства, спорта и религии. Родился сёрфинг на Таити. Примерно в IV веке нашей эры полинезийцы, проживающие здесь и на других островах, в поисках новых территорий начали осваивать Гавайи. Только самые отважные и ловкие мореходы добирались до новых берегов, неся древнейшие традиции полинезийских племен. Среди обычаев было и скольжение по волнам на доске.<br>
						Чести оседлать волну был удостоен не каждый. Серфинг считался исключительно благородным занятием. Только короли могли позволить себе властвовать над волнами. Для знатных персон были определены пляжи с лучшими волнами – и лучшие волны были тоже собственностью королей. Поэтому разделить волну с принцем или королём считалось преступлением. А преступление каралось смертью.<br>
						Серфинг не был просто развлечением. Если король падал с доски – непременно падал и с престола. На авторитет правителя во многом влияло его умение показать себя на волнах. Ввиду такой важности сёрфинга, подход к нему был соответствующий. Жрецы призывали самые непокорные, длинные и высокие волны, используя заклинания, ритуальные танцы, тысячелетнюю статистику и приметы. Потомственные шейперы (мастера изготовления досок для сёрфинга) создавали именные королевские доски по технологии, передававшейся из поколения в поколение и доступной только избранным. Доски простых смертных и наследников богов существенно отличались: царские «оло» достигали в длину 7 метров (в среднем – около 5 м), а «крестьянские» доски – не больше 3,5 метров. Регулярные соревнования обычно проводились в честь религиозных празднеств.</p>
					
				{% endblock %}
				</div>
			</div>
		</div>
		<div class="footer">
			{% block footer %}
				<p>
					Футер
				</p>
			{% endblock %}
		</div>
	</div>
</body>
</html>
